.wrapper {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .wrapper {
    width: 900px;
    margin: 0 auto;
  }
}

.wrapper__image {
  display: flex;
  justify-content: flex-end;
}

.basic-information ul {
  list-style-type: none;
  padding: 0;
}